#logout {
    display: none;
  }

#login {
    display: block;
}

.container > li {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: #494949;
    box-sizing: border-box;
    background-color: #83EDD9;
    list-style-type: none;
    border: 5px solid #247BA0;
    transition: border-color 0.5s ease-in 
  }

  .container > li:hover {
    border-color: #FF1654;
  }
  
  html, body {
    background-color: #ffffff;
    margin: 10px;
  }
  
  .container {
    padding: 0;
  }

  .nav-bar {
    background-color: #83EDD9 !important;
  }

  .search-input {
    background: #ff6e68;
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #494949;
    color: #494949;
  }
  ::placeholder{
    color: #494949;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .container > li {
    background-color: #83EDD9;
  }

#snackbarin,
#snackbarout
 {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px; 
}

#snackbarin.show ,
#snackbarout.show
{
    visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}